# Python
__pycache__/
**/__pycache__/
**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
AI_gym/
.venv/

# OS files
.DS_Store
Thumbs.db

# Database
Main App/data.db
data.db
*.db
*.db-journal
*.db-wal
*.db-shm
postgres_data/
redis_data/
Main App/data/pose_samples/

# Logs
*.log

.env
*.env
Main App/.env
.streamlit/secrets.toml
Main App/.streamlit/secrets.toml
.vscode/
.cursor/settings.json
